<?xml version="1.0"?>



<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=35.154.30.200;Database=VCM;User Id=admin;Password=AwsDatabase;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
